body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #FCF1E7;
}

.white {
  background-color: #FCF1E7;
}

.red {
  background-color: #D19185;
}

.mainDiv {
  height: 100%;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
